#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.div {
  margin-top: 70px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
/* controls the buttons in the row */
.buttonCards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 20px;
}

.read-the-docs {
  color: #888;
}
.frameWorks {
 color: rgb(73, 80, 136);
 transition: transform 0.3s ease-out;
}
  .frameWorks:hover {
  transform: scale(1.8);
}
.button-title {
  color: rgb(212, 45, 193);
  font-weight: bold;
  transition: transform 0.5s ease-in-out ;
  
}
 .button-title:hover {
   transform: scale(1.5);
 }
.button-subTitle {
  color:  rgb(212, 45, 193);
  text-decoration: underline;
}
.button1 {
  height: 130px;
  width: 280px;
  border: 6px solid rgb(78, 74, 147);
  color: rgb(20, 173, 187);
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: .4rem;
  font-size: 30px;
}
.button2 {
  height: 160px;
  width: 280px;
  padding: 12px;
  border: 6px solid rgb(78, 74, 147);
  color: rgb(20, 173, 187);
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: .2rem;
  font-size: 30px;
}
