.myFooter {
    display: flex;
    justify-content: center;
    color: rgb(25, 180, 241);
    font-size: 40px;
    padding: 30px;
    background-color: rgba(3, 60, 82, 0.33);
    border: 3px solid rgb(8, 7, 7);
    border-radius: 10px;
}
 
 .myFooter:hover {
    color: rgb(208, 50, 184);
     
 }
  


